.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.strong {
  font-size: 55px;
  font-weight: 300;
  margin-top: -20px;
  margin-bottom: 20px;
  color: #e8699a;
  letter-spacing: -0.025em;
  mb: 25px];
  line-height: 1.31;
  text-align: left;
}

.floating_input {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &::placeholder {
    color: transparent;
  }
}

.enter_email {
  flex-grow: 1;
  margin-right: 20px;
  @media (max-width: 575px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  &.is-material {
    &.is-focus {
      label {
        color: #aeb1b6;
        font-size: 24px;
      }
    }
  }

  input {
    height: 100%;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    color: #343d48;
    padding: 5px 15px;
    border-color: #dadada;
    @media (max-width: 575px) {
      height: 48px;
    }
  }

  label {
    font-size: 14px;
    color: #343d48;
    font-weight: 500;
    padding-left: 10px;
    top: 5px;
  }
}
